    {{>navbar}}
    <span>All albums</span>
    <a href="/dashboard/album/create" class="link album"><i class="fa fa-plus"></i></a>
</h1>
<hr>
{{#unless albums.length}}
<p>sorry, no albums yet</p>
{{else}}
<table class="table">
    <thead class="head">
     <th class="cell">title</th>
        <th class="cell">released</th>
        <th class="cell">artist</th>
         <th class="cell">cover</th>       
        <th class="cell">update</th>
        <th class="cell">delete</th>
    </thead>
    <tbody class="body-table">
        {{#each albums}}
        <tr class="row2">
          <td class="cell-name" style=" padding-left: 5%;">{{title}}</td>
         <td class="cell-date" style=" padding-left:5%;">{{formatDate releaseDate}}</td>
       <td class="cell artist" style=" padding-left: 5%;">{{artist.name}}</td>
         <td style="padding-left: 2%;"> <img class="cover3" src="{{cover}}"></td>
           <td class="cell update" style=" padding-left: 2%;"><a href="/dashboard/album/update/{{_id}}">
                <button class="big-button">update album</button>
                </a>
  </td>
            <td class="cell delete" style=" padding-left: 2%;"><a href="/dashboard/album/delete/{{_id}}"> 
            <button class="big-button">delete album</button> </a>   
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/unless}}
