
    {{>navbar}}
    <span>All albums</span>
    <a href="/dashboard/album/create" class="link album"><i class="fa fa-plus"></i></a>
</h1>
<hr>
{{#unless albums.length}}
<p>sorry, no albums yet</p>
{{else}}
<table class="table">
    <thead class="head">
     <th class="cell">title</th>
        <th class="cell">released</th>
        <th class="cell">artist</th>
         <th class="cell">cover</th>       
        <th class="cell">update</th>
        <th class="cell">delete</th>
    </thead>
    <tbody class="body">
        {{#each albums}}
        <tr class="row">
          <td class="cell name">{{title}}</td>
               <td class="cell name">{{releaseDate}}</td>
       <td class="cell artist">{{artist.name}}</td>
            <td class="cell cover" style="background-image: url({{cover}})"></td>
           <td class="cell update" >   <a href="/dashboard/album/update/{{_id}}">
                <button>update album</button>
                </a>
  </td>
            <td class="cell delete">    <a href="/dashboard/album/delete/{{_id}}">  <button>delete album</button> </a>   
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/unless}}
