

{{> navbar}}

<ul>
  <li><h2 class="welcome">welcome to your very own, personnal profile {{users.username}}</h2>  </li>
  <li> <img class="icon-profil" src="/images/id-card.png" /> &ensp; USERNAME : {{users.username}}</li>
  <br>
  <br>
  <li><img class="icon-profil" src="/images/email.png" /> &ensp; EMAIL : {{users.email}}</li>
  <br>
  <br>
  <li><img class="icon-profil" src="/images/hat.png" /> &ensp; ROLE : {{users.role}} </li>
  <br>
   <br>
    <br>
     <br>
  <li><a href="/profileUpdate/{{users.id}}"><button class="big-button">Update User Profile</button></a></li>
</ul>


