

{{> navbar}}


<ul>
  <li> <img class="icon-profil" src="/images/id-card.png" /> &ensp; USERNAME : {{users.username}}</li>
  <br>
  <br>
  <li><img class="icon-profil" src="/images/email.png" /> &ensp; EMAIL : {{users.email}}</li>
  <br>
  <br>
  <li><img class="icon-profil" src="/images/hat.png" /> &ensp; ROLE : {{users.role}} </li>
  <br>

</ul>
<aside>welcome to your very own, personnal profile {{users.username}}</aside>  
//Favorite albums 
//Favorite Artists

<a href="/profileUpdate/{{users.id}}">
<button>Update User Profile</button>
</a>


